<section id="projectlist-page-section" class="content module projectlist-page">
	 <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
                    <strong>${i18n('message.error.header')}</strong>
                   <div ng-repeat="profile in profiles">
                  <a ng-href="/profile/{{profile.id}}"><span>test</span></a></div>
                </div>
                 <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorprofile">
                    <strong>${i18n('message.error.header')}</strong>
                    ${i18n('message.error.content')}
                </div>
                <div class="alert alert-success alert-dismissible" role="alert" ng-show="success">
                    <strong>${i18n('message.success.header')}</strong>
                    ${i18n('message.success.content')}
                </div>
	<div class="box-header">
		<button class="btn bg-blue" ng-click="add()" id="add-project" type="button">
								<i class="glyphicon glyphicon-plus"></i>
		</button>
		<h3 class="box-title">${i18n("projectview.title")}</h3>
			<div class="box-tools">
				<div class="input-group">
					<input class="form-control input-sm pull-right" type="text" placeholder=${i18n("sidebar.search.placeholder")} style="width: 150px;" name="table_search" ng-model="search">
						<div class="input-group-btn">
							<button class="btn btn-sm btn-default">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>	
				</div>
			</div>
		<div class="box-body table-responsive no-padding">
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>${i18n("project.title")}</th>
						<th>${i18n("project.start")}</th>
						<th>${i18n("project.end")}</th>
						<th>${i18n("project.summary")}</th>
						<th>${i18n("project.button.edit")}/${i18n("project.button.delete")}</th>
					</tr>
					<tr ng-repeat="project in (filteredProjects = (projects | filter:search))">			
					 		<td>{{project.title}} </td>
					 		<td>{{project.start | date : 'dd.MM.yyyy'}}</td>
					 		<td>{{project.end | date : 'dd.MM.yyyy'}} </td>
					 		<td>{{project.summary}}</td>
					 		<td><a ng-href="/project/{{project.id}}"><button class="fa fa-edit" type="button"> </button></a><button class="fa fa-times" type="button" ng-click="remove(project.id)"></button>
					 		</td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>