<section id="project-page-section" class="content module project-page">
    <div class="container-fluid">
        <div class="row">
        <div>
			<div>
				<a ng-click ="back('/projectlist')"class="btn btn-app">
				<i class="fa fa-arrow-left"></i>
				${i18n('button.back')}
				</a>
			</div>
			<div>
            	<a ng-click ="add()"class="btn btn-app">
				<i class="glyphicon glyphicon-plus"></i>
				${i18n('button.new.project')}
				</a>
			</div>
			</div>
            <div class="col-lg-8 col-lg-offset-2" style="padding-bottom: 80px;">       
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error" id="project-msg-error">
                    <strong>${i18n('message.error.header')}</strong>
                    ${i18n('message.error.content')}
                </div>
                <div class="alert alert-success alert-dismissible" role="alert" ng-show="success" id="project-msg-success">
                    <strong>${i18n('message.success.header')}</strong>
                    ${i18n('message.success.content')}
                </div>
                <div class="box border-box">
                    <div class="header-text">
                        <h2 class="headline">{{project.title}}</h2>
                        <p class="description" ng-show="project.start && project.end">{{project.start | date : 'MM/yyyy' }} - {{project.end | date : 'MM/yyyy'}}</p>
                    </div>
                </div>
               <div ng-show="showEditModeButtons" class="no-print button-dialog">
                    <button ng-click="save()" id="save-button"
                            class="btn btn-block btn-success">${i18n('buttonDialog.save')}
                    </button>
                    <button ng-click="dialog()" id="cancel-button"
                            class="btn btn-block btn-danger">${i18n('buttonDialog.cancel')}
                    </button>
                </div>
                <div class="box box-purple">
                    <div class="box-header">
                        <h3 class="box-title">${i18n('project.projectdata.section')}</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="form-group" id="form-group-title">
                            <label for="title" class="control-label col-md-4">${i18n('project.title')}</label>

                            <div class="col-md-8">
                                <input type="text" name="title" id="title"
                                       class="form-control"
                                       ng-model="project.title"
                                       ng-change="change('form-group-title')"/>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-companies">
                            <label for="companies" class="control-label col-md-4">${i18n('project.companies')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" id="companies"
                                			text="companiesText"
                                            placeholder="${i18n('form.addTag')}"
                                            on-invalid-tag="removeDuplicate('companiesText', $tag,'companies')"
                                            class="ng-tags-custom" ng-model="project.companies"
                                            on-tag-added="change('form-group-companies')"
                                            on-tag-removed="change('form-group-companies')">
                                    <auto-complete source="getTags('companies')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                                <div class ="form-control alert-dismissible" ng-show = "errorDuplicatecompanies">
									<i class ="glyphicon glyphicon-exclamation-sign"> </i>
									<strong>${i18n('message.error.duplicate.header')}</strong>
                    			 	<strong> '{{ textTag }}' </strong> ${i18n('message.error.duplicate.content')}	
                    			 </div>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-industries">
                            <label for="industries" class="control-label col-md-4">${i18n('project.industries')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" id="industries"
                                			text="industriesText"
                                            placeholder="${i18n('form.addTag')}"
                                            on-invalid-tag="removeDuplicate('industriesText', $tag, 'industries')"
                                            class="ng-tags-custom" ng-model="project.industries"
                                            on-tag-added="change('form-group-industries')"
                                            on-tag-removed="change('form-group-industries')">
                                    <auto-complete source="getTags('industries')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                                <div class ="form-control alert-dismissible" ng-show = "errorDuplicateindustries">
									<i class ="glyphicon glyphicon-exclamation-sign"> </i>
									<strong>${i18n('message.error.duplicate.header')}</strong>
                    			 	<strong> '{{ textTag }}' </strong> ${i18n('message.error.duplicate.content')}	
                    			 </div>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-start">
                            <label for="start" class="control-label col-md-4">${i18n('project.start')}</label>

                            <div class="col-md-8">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="${dateFormat}"
                                       is-open="openedDatepickerPopup.start"
                                       current-text="${i18n('form.datepicker.current')}"
                                       clear-text="${i18n('form.datepicker.clear')}"
                                       close-text="${i18n('form.datepicker.close')}"
                                       name="start"
                                       id="start"
                                       ng-click="openDatepickerPopup($event,'start')"
                                       ng-model="project.start"
                                       ng-change="change('form-group-start')"
                                       ng-readonly="true"/> 
                            </div>
                        </div>
                        <div class="form-group" id="form-group-end">
                            <label for="end"
                                   class="control-label col-md-4">${i18n('project.end')}</label>

                            <div class="col-md-8">
                                 <input type="text"
                                       class="form-control"
                                       datepicker-popup="${dateFormat}"
                                       is-open="openedDatepickerPopup.end"
                                       current-text="${i18n('form.datepicker.current')}"
                                       clear-text="${i18n('form.datepicker.clear')}"
                                       close-text="${i18n('form.datepicker.close')}"
                                       name="end"
                                       id="end"
                                       ng-click="openDatepickerPopup($event,'end')"
                                       ng-model="project.end"
                                       ng-change="change('form-group-end')"
                                       ng-readonly="true"/> 
                            </div>
                        </div>
                        <div class="form-group" id="form-group-locations">
                            <label for="locations" class="control-label col-md-4">${i18n('project.locations')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" id="locations"
                                			text="locationsText"
                                            placeholder="${i18n('form.addTag')}"
                                            on-invalid-tag="removeDuplicate('locationsText', $tag, 'locations')"
                                            class="ng-tags-custom"
                                            ng-model="project.locations"
                                            on-tag-added="change('form-group-locations')"
                                            on-tag-removed="change('form-group-locations')">
                                    <auto-complete source="getTags('locations')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                                <div class ="form-control alert-dismissible" ng-show = "errorDuplicatelocations">
									<i class ="glyphicon glyphicon-exclamation-sign"> </i>
									<strong>${i18n('message.error.duplicate.header')}</strong>
                    			 	<strong> '{{ textTag }}' </strong> ${i18n('message.error.duplicate.content')}	
                    			 </div>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-technologies">
                            <label for="technologies" class="control-label col-md-4">${i18n('project.technologies')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" id="technologies"
                                            placeholder="${i18n('form.addTag')}"
                                            class="ng-tags-custom"
                                            ng-model="project.technologies"
                                            on-tag-added="change('form-group-technologies')"
                                            on-tag-removed="change('form-group-technologies')">
                                    <auto-complete source="getTags('technologies')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-summary">
                            <label for="summary" class="control-label col-md-4">${i18n('project.summary')}</label>
                            <div class="col-md-8">
                                <div text-angular
                                 	    ta-toolbar="[
                                 	    ['h1','h2','h3','h4','h5','h6','p','pre','quote'],
                                 	  	['bold','italics','underline','ul','ol','redo','undo','clear'],
                                 	  	['justifyLeft','justifyCenter','justifyRight','indent','outdent']]"
                                 	  	ng-model="project.summary"
                                      	name="summary" id="summary"
                                 	  	ng-change="change('form-group-summary')">
                               </div>                             
                         	</div>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <script type="text/ng-template" id="warningDialog">
		<div class="ngdialog-message">
			<h3 class="alert alert-warning alert-dismissible">${i18n('buttonDialog.reject.header')}</h3>
			<p>${i18n('buttonDialog.reject.question')}</p>
		</div>
  		<div class="ngdialog-buttons">
			<button type="button" class="btn btn-default ngdialog-button ngdialog-button-secondary"
 				ng-click="closeThisDialog('1')">${i18n('buttonDialog.save')}</button>
			<button id="reject-button"type="button" ng-click="closeThisDialog('0')" class="btn btn-primary ngdialog-button">${i18n('buttonDialog.reject')}</button>
		</div>
	</script>    
</section>
