<aside class="main-sidebar" ng-controller="NavigationCtrl">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li ng-class="{active:isActive('/dashboard')}"><a href="/dashboard"><span>${i18n("sidebar.navigation.dashboard")}</span></a>
            </li>
<!-- uncomment the following lines when profile is needed -->
<!--             <li ng-class="{active:isActive('/profile')}"><a href="/profile"><span>${i18n("sidebar.navigation.profile")}</span></a> -->
<!--             </li> -->
            <li ng-class="{active:isActive('/search')}"><a href="/search"><span>${i18n("sidebar.navigation.searchprofiles")}</span></a>
            </li>
            <li ng-if="buildProperties.showBuildProperties" id="li-build-information" class="treeview">
                <a id="a-build-information" href="#" ng-click="triggerBuildInformation()">
                    <i class="fa fa-bar-chart"></i> <span id="span-build-information">Build information</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul id="ul-build-information" class="treeview-menu bg-info">
                    <li>
                    	<span class="small bg-warning"> Commit: {{buildProperties.abbrev}}</span>
                    </li>
                    <li>
                    	<span class="small bg-info">Commit-User: {{buildProperties.commitUserName}}</span>
                    </li>
                    <li>
                    	<span class="small bg-warning">Branch: {{buildProperties.branch}}</span>
                    </li>
                    <li>
                    	<span class="small bg-info">Commit-Time: {{buildProperties.commitTime}}</span>
                    </li>
                    <li>
                    	<span class="small bg-warning">Build-Time: {{buildProperties.buildTime}}</span>
                    </li>
                    <li>
                    	<span class="small bg-info">Environment: {{buildProperties.environment}}</span>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
