<section id="profile-page-section" class="content module profile-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="padding-bottom: 80px;">
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
                    <strong>${i18n('message.error.header')}</strong>
                    ${i18n('message.error.content')}
                </div>
                <div class="alert alert-success alert-dismissible" role="alert" ng-show="success">
                    <strong>${i18n('message.success.header')}</strong>
                    ${i18n('message.success.content')}
                </div>
                <div class="alert alert-warning alert-dismissible" role="alert"
                     ng-show="uploadreject">
                    <strong>${i18n('message.upload.reject.header')}</strong>
                    ${i18n('message.upload.reject.content')} ${i18n('profile.image.acceptfiles')}
                </div>
                <div class="alert alert-warning alert-dismissible" role="alert"
                     ng-show="uploaderror">
                    <strong>${i18n('message.upload.error.header')}</strong>
                    ${i18n('message.upload.error.content')}
                </div>
                <div class="box border-box">
                    <div class="header-text"
                         ngf-drop
                         ngf-select
                         ng-model="files"
                         ng-model-rejected="rejectedFiles"
                         ngf-drag-over-class="dragover"
                         ngf-multiple="false"
                         ngf-allow-dir="false"
                         ngf-accept="'image/*'"
                         ngf-min-size='10'
                         ngf-max-size='15728640'>
                        <div id="image-wrapper">
                            <img ngf-src="files[0]"
                                 ngf-default-src="{{profile.image|toThumbnailUrl}}" id="image"/>
                        </div>
                        <input type="hidden" name="image" id="image-hidden" class="form-control"
                               ng-model="profile.image"/>
                        <span><i class="fa fa-cloud-upload"></i></br>
                            ${i18n('profile.image.change')}</br>${i18n('profile.image.acceptfiles')}</span>

                        <h2 class="headline">{{profile.firstname}} {{profile.lastname}}</h2>

                        <p class="description">
                            {{tagsToList(profile.careerLevel).join(', ')}}
                        </p>
                    </div>
                </div>
                <div ng-show="showEditModeButtons" class="no-print button-dialog">
                    <button ng-click="save()" id="save-button"
                            class="btn btn-block btn-success">${i18n('buttonDialog.save')}
                    </button>
                    <button ng-click="cancel()" id="cancel-button"
                            class="btn btn-block btn-danger">${i18n('buttonDialog.cancel')}
                    </button>
                </div>
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">${i18n('profile.personal.section')}</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="form-group" id="form-group-lastName">
                            <label for="lastName" class="control-label col-md-4">${i18n('profile.personal.lastName')}</label>

                            <div class="col-md-8">
                                <input type="text" name="lastName" id="lastName"
                                       class="form-control"
                                       ng-model="profile.lastname"
                                       ng-change="change('form-group-lastName')"/>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-firstname">
                            <label for="firstName" class="control-label col-md-4">${i18n('profile.personal.firstName')}</label>

                            <div class="col-md-8">
                                <input type="text" name="firstName" id="firstName"
                                       class="form-control" ng-model="profile.firstname"
                                       ng-change="change('form-group-firstname')"/>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-degree">
                            <label for="degrees" class="control-label col-md-4">${i18n('profile.personal.degree')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" name="degrees" id="degrees"
                                            placeholder="${i18n('form.addTag')}"
                                            class="ng-tags-custom" ng-model="profile.degrees"
                                            on-tag-added="change('form-group-degree')"
                                            on-tag-removed="change('form-group-degree')">
                                    <auto-complete source="getTags('degrees')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-careerLevel">
                            <label for="careerLevel" class="control-label col-md-4">${i18n('profile.personal.careerLevel')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" name="careerLevel" id="careerLevel"
                                            placeholder="${i18n('form.addTag')}"
                                            class="ng-tags-custom" ng-model="profile.careerLevel"
                                            on-tag-added="change('form-group-careerLevel')"
                                            on-tag-removed="change('form-group-careerLevel')">
                                    <auto-complete source="getTags('careerLevel')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-workExperience">
                            <label for="workExperience" class="control-label col-md-4">${i18n('profile.personal.workExperience')}</label>

                            <div class="col-md-8">
                                <input type="text"
                                       class="form-control datepicker"
                                       data-provide="datepicker"
                                       data-date-format=${dateFormat}
                                       data-date-autoclose="true"
                                       data-date-language=${language}
                                       name="workExperience"
                                       id="workExperience"
                                       ng-model="profile.workExperience"
                                       ng-change="change('form-group-workExperience')"/>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-languages">
                            <label for="languages" class="control-label col-md-4">${i18n('profile.personal.languages')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" name="languages" id="languages"
                                            placeholder="${i18n('form.addTag')}"
                                            class="ng-tags-custom" ng-model="profile.languages"
                                            on-tag-added="change('form-group-languages')"
                                            on-tag-removed="change('form-group-languages')">
                                    <auto-complete source="getTags('languages')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-green">
                    <div class="box-header">
                        <h3 class="box-title">${i18n('profile.experience.section')}</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="form-group" id="form-group-industries">
                            <label for="industries" class="control-label col-md-4">${i18n('profile.experience.industries')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" name="industries" id="industries"
                                            placeholder="${i18n('form.addTag')}"
                                            class="ng-tags-custom" ng-model="profile.industries"
                                            on-tag-added="change('form-group-industries')"
                                            on-tag-removed="change('form-group-industries')">
                                    <auto-complete source="getTags('industries')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-orange">
                    <div class="box-header">
                        <h3 class="box-title">${i18n('profile.skills.section')}</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="form-group" id="form-group-platforms">
                            <label for="platforms" class="control-label col-md-4">${i18n('profile.skills.platforms')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" name="platforms" id="platforms"
                                            placeholder="${i18n('form.addTag')}"
                                            class="ng-tags-custom" ng-model="profile.platforms"
                                            on-tag-added="change('form-group-platforms')"
                                            on-tag-removed="change('form-group-platforms')">
                                    <auto-complete source="getTags('platforms')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-opSystems">
                            <label for="opSystems" class="control-label col-md-4">${i18n('profile.skills.opSystems')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" name="opSystems" id="opSystems"
                                            placeholder="${i18n('form.addTag')}"
                                            class="ng-tags-custom" ng-model="profile.opSystems"
                                            on-tag-added="change('form-group-opSystems')"
                                            on-tag-removed="change('form-group-opSystems')">
                                    <auto-complete source="getTags('opSystems')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-progLanguages">
                            <label for="progLanguages" class="control-label col-md-4">${i18n('profile.skills.progLanguages')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" name="progLanguages" id="progLanguages"
                                            placeholder="${i18n('form.addTag')}"
                                            class="ng-tags-custom" ng-model="profile.progLanguages"
                                            on-tag-added="change('form-group-progLanguages')"
                                            on-tag-removed="change('form-group-progLanguages')">
                                    <auto-complete
                                            source="getTags('progLanguages')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-webTechnologies">
                            <label for="webTechnologies" class="control-label col-md-4">${i18n('profile.skills.webTechnologies')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" name="webTechnologies" id="webTechnologies"
                                            placeholder="${i18n('form.addTag')}"
                                            class="ng-tags-custom"
                                            ng-model="profile.webTechnologies"
                                            on-tag-added="change('form-group-webTechnologies')"
                                            on-tag-removed="change('form-group-webTechnologies')">
                                    <auto-complete
                                            source="getTags('webTechnologies')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-devEnvironments">
                            <label for="devEnvironments" class="control-label col-md-4">${i18n('profile.skills.devEnvironments')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" name="devEnvironments" id="devEnvironments"
                                            placeholder="${i18n('form.addTag')}"
                                            class="ng-tags-custom"
                                            ng-model="profile.devEnvironments"
                                            on-tag-added="change('form-group-devEnvironments')"
                                            on-tag-removed="change('form-group-devEnvironments')">
                                    <auto-complete
                                            source="getTags('devEnvironments')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-qualifications">
                            <label for="qualifications" class="control-label col-md-4">${i18n('profile.skills.qualifications')}</label>

                            <div class="col-md-8">
                                <tags-input type="text" name="qualifications" id="qualifications"
                                            placeholder="${i18n('form.addTag')}"
                                            class="ng-tags-custom" ng-model="profile.qualifications"
                                            on-tag-added="change('form-group-qualifications')"
                                            on-tag-removed="change('form-group-qualifications')">
                                    <auto-complete source="getTags('qualifications')|filter:$query"
                                            ></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group" id="form-group-summary">
                            <label for="summary" class="control-label col-md-4">${i18n('profile.skills.summary')}</label>

                            <div class="col-md-8">
                                <textarea type="text" name="summary" id="summary" class="form-control"
                                       ng-model="profile.summary"
                                       ng-change="change('form-group-summary')"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-purple">
                    <div class="box-header">
                        <h3 class="box-title">${i18n('profile.projects.section')}</h3>
                        <a class="btn btn-default pull-right"
                           id="add-project-association"
                           ng-click="addProjectAssociation()"><span
                                class="glyphicon glyphicon-plus"></span>
                            ${i18n('profile.projects.addProject')}</a>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="box box-purple project-association"
                             ng-repeat="projectAssociation in profile.projectAssociations">
                            <div class="box-header">
                            </div>
                            <div class="box-body form-horizontal">
                                <div class="form-group"
                                     id="form-group-projectAssociation-associatedProject-{{$index}}">
                                    <label for="project-{{$index}}" class="control-label col-md-4">${i18n('profile.projects.associatedProject')}</label>

                                    <div class="col-md-8">
                                        <select class="form-control"
                                                ng-model="projectAssociation.project"
                                                id="project-{{$index}}"
                                                ng-options="project.title for project in projects track by project.id"
                                                ng-show="projects && projects.length > 0"
                                                ng-change="change('form-group-projectAssociation-associatedProject-' + $index)">
                                        </select>

                                        <div ng-hide="projects && projects.length > 0">
                                            ${i18n('profile.projects.noProjects')}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"
                                     id="form-group-projectAssociation-start-{{$index}}">
                                    <label for="start-{{$index}}" class="control-label col-md-4">${i18n('profile.projects.start')}</label>

                                    <div class="col-md-8">
                                        <input type="text"
                                               class="form-control datepicker"
                                               data-provide="datepicker"
                                               data-date-format=${dateFormat}
                                               data-date-autoclose="true"
                                               data-date-language=${language}
                                               name="start"
                                               id="start-{{$index}}"
                                               ng-model="projectAssociation.start"
                                               ng-change="change('form-group-projectAssociation-start-' + $index)"/>
                                    </div>
                                </div>
                                <div class="form-group"
                                     id="form-group-projectAssocation-end-{{$index}}">
                                    <label for="end-{{$index}}"
                                           class="control-label col-md-4">${i18n('profile.projects.end')}</label>

                                    <div class="col-md-8">
                                        <input type="text"
                                               class="form-control datepicker"
                                               data-provide="datepicker"
                                               data-date-format=${dateFormat}
                                               data-date-autoclose="true"
                                               data-date-language=${language}
                                               name="end"
                                               id="end-{{$index}}"
                                               ng-model="projectAssociation.end"
                                               ng-change="change('form-group-projectAssocation-end-' + $index)"/>
                                    </div>
                                </div>
                                <div class="form-group"
                                     id="form-group-projectAssociation-locations-{{$index}}">
                                    <label for="devEnvironments" class="control-label col-md-4">${i18n('profile.projects.locations')}</label>

                                    <div class="col-md-8">
                                        <tags-input type="text"
                                                    name="projectAssociations-locations-{{$index}}"
                                                    id="projectAssociations-locations-{{$index}}"
                                                    placeholder="${i18n('form.addTag')}"
                                                    class="ng-tags-custom"
                                                    ng-model="projectAssociation.locations"
                                                    on-tag-added="change('form-group-projectAssociation-locations-'+$index)"
                                                    on-tag-removed="change('form-group-projectAssociation-locations-'+$index)">
                                            <auto-complete
                                                    source="getTags('locations')|filter:$query"
                                                    ></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                                <div class="form-group"
                                     id="form-group-projectAssociation-positions-{{$index}}">
                                    <label for="devEnvironments" class="control-label col-md-4">${i18n('profile.projects.positions')}</label>

                                    <div class="col-md-8">
                                        <tags-input type="text"
                                                    name="projectAssociations-positions-{{$index}}"
                                                    id="projectAssociations-positions-{{$index}}"
                                                    placeholder="${i18n('form.addTag')}"
                                                    class="ng-tags-custom"
                                                    ng-model="projectAssociation.positions"
                                                    on-tag-added="change('form-group-projectAssociation-positions-'+$index)"
                                                    on-tag-removed="change('form-group-projectAssociation-positions-'+$index)">
                                            <auto-complete
                                                    source="getTags('positions')|filter:$query"
                                                    ></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                                <div class="form-group"
                                     id="form-group-projectAssociation-technologies-{{$index}}">
                                    <label for="devEnvironments" class="control-label col-md-4">${i18n('profile.projects.technologies')}</label>

                                    <div class="col-md-8">
                                        <tags-input type="text"
                                                    name="projectAssociations-technologies-{{$index}}"
                                                    id="projectAssociations-technologies-{{$index}}"
                                                    placeholder="${i18n('form.addTag')}"
                                                    class="ng-tags-custom"
                                                    ng-model="projectAssociation.technologies"
                                                    on-tag-added="change('form-group-projectAssociation-technologies-'+$index)"
                                                    on-tag-removed="change('form-group-projectAssociation-technologies-'+$index)">
                                            <auto-complete
                                                    source="getTags('technologies')|filter:$query"
                                                    ></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                                <div class="form-group"
                                     id="form-group-projectAssociation-tasks-{{$index}}">
                                    <label for="devEnvironments" class="control-label col-md-4">${i18n('profile.projects.tasks')}</label>

                                    <div class="col-md-8">
                                        <textarea
                                               name="projectAssociations-tasks-{{$index}}"
                                               id="projectAssociations-tasks-{{$index}}"
                                               class="form-control"
                                               ng-model="projectAssociation.tasks"
                                               ng-change="change('form-group-projectAssociation-tasks-'+$index)"
                                                />
                                    </div>
                                </div>
                                <div class="form-group"
                                     id="form-group-projectAssociation-delete-button-{{$index}}">
                                    <div class="col-md-4 pull-right">
                                        <button ng-click="deleteProjectAssociation($index)"
                                                id="delete-project-association-button-{{$index}}"
                                                class="btn btn-block btn-danger">
                                            ${i18n('profile.projects.deleteProject')}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
