<#macro hireMeLayout title="hireMe">
<!DOCTYPE html>
<html ng-app="dashboardApp" lang="en">
<head>
    <meta charset="utf-8">
    <title>${title}</title>
</head>
<body>


<#--<form>
    <input type="text" ng-model="search">
    <p ng-show="search">Du suchst gerade nach: {{search}}</p>
</form>

<table class="table" ng-init="articles = ['Pizza Salami', 'Pizza Tonno']">
    <tr ng-show="search" ng-repeat="article in articles| filter:search">
        <td>{{article}}</td>
    </tr>
</table>-->


<div class="container">
  <#nested/>
</div>

<script src="webjars/angularjs/1.3.8/angular.js"></script>

</body>
</html>
</#macro>
