<header class="main-header">
  <a href="/" class="logo">
    <!-- LOGO -->
    <b>Hire</b>Me</a>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <a role="button" data-toggle="offcanvas" class="sidebar-toggle" href="#">
  		<span class="sr-only">Toggle navigation</span>
    </a>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group col-md-offset-2">
          <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">
            <i class="fa fa-user"></i> Profil
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-power-off"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>