<aside class="main-sidebar">

  <section class="sidebar">
	<form class="sidebar-form" method="get" action="#">
	    <div class="input-group">
	      <input type="text" placeholder="${i18n("sidebar.search.placeholder")}" class="form-control" name="q">
	      <span class="input-group-btn">
	        <button class="btn btn-flat" id="search-btn" name="search" type="submit"><i class="fa fa-search"></i></button>
	      </span>
	    </div>
    </form>

    <ul class="sidebar-menu">
      <li class="active"><a href="#"><span>${i18n("sidebar.navigation.dashboard")}</span></a></li>
      <li><a href="#"><span>${i18n("sidebar.navigation.profile")}</span></a></li>
      <li><a href="#"><span>${i18n("sidebar.navigation.searchprofiles")}</span></a></li>
    </ul>

  </section>
</aside>