<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-md-offset-0">
				<div class="box">
					<div class="box-body">
						<form name="searchForm" novalidate role="form" ng-controller="SearchCtrl" ng-init="init()">
							<div class="input-group input-group-lg">
								<input type="text" name="search" ng-model="search"
									placeholder=${i18n(
									'sidebar.search.placeholder')} class="form-control"
									autofocus="autofocus"> <span class="input-group-btn">
									<button ng-click="submit()" class="btn btn-success btn-flat">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</form>
						<h4>Search Results:</h4>
						<div ng-controller="ListCtrl">
							<!-- ng-repeat="profile in profiles" -->
							<div class="info-box bg-green" ng-repeat="profile in profiles | filter:search">
								<span class="info-box-icon"><i class="fa fa-user"></i></span>
								<a ng-href="/profile/{{profile.id}}">
									<div class="info-box-content">
										<span class="info-box-text">{{profile.careerStage}}</span>
										<span class="info-box-number">{{profile.firstname}} {{profile.lastname}}</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-controller="ListCtrl">
    	Profile count: <span id="profile-count">{{profiles.length}}</span>
	</div>
</section>