.search-page {
	.profile-link {
		color: #fff;
		.info-box-content {
			min-height: 90px;
			&:hover {
				background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
			}
			.info-box-text {
				text-transform: none;
			}
		}
	}

	.profile {
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

