@import "../global/variables";

.has-warning tags-input .tags {
  border-color: @color-warning !important;
}

tags-input {
  .tags {
    border-radius: 0;
    .tag-list .tag-item {
      border-radius: 0;
    }
  }
}

