<#import "../layout/defaultLayout.ftl.html" as layout/>
<@layout.hireMeLayout "Home page">

        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            ${i18n("hello.world")}
            <small>Optional description</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->

        </section><!-- /.content -->

</@layout.hireMeLayout>
